<template>
  <form @submit.prevent="register">
    <select v-model="registerEmail" class="form-control my-2">
      <option disabled value="">Chooes email</option>
      <option
        v-for="user of users[0] && users[0].data"
        :key="user.id"
        :value="user.email">
        {{ user.email }}
      </option>
    </select>
    <button class="btn btn-primary">Register</button>
  </form>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { getAPI } from "../API/API";

export default {
  name: 'Login',

  data() {
    return {
      registerEmail: '',
    };
  },

  computed: {
    ...mapState([
      'users',
    ])
  },

  methods: {
    ...mapActions([
      'insertAutoriseUser',
      'fetchUsers'
    ]),

    async register() {
      const response = await fetch(('https://reqres.in/api/register'), {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          "email": this.registerEmail,
          "password": "pistol"
        }),
      });
      const json = await response.json();
      if(json.id) {
        getAPI(`https://reqres.in/api/users/${json.id}`).then(data => {
          this.insertAutoriseUser(data);
          this.$router.push('/users');
        });
      } else {
        this.insertAutoriseUser(null);
      }
    },
  },

  created() {
    this.fetchUsers()
  },
}
</script>