<template>
  <div class="photos" id="gallery-container">
    <img
      class="m-3"
      v-for="photo of photos"
      :key="photo.id"
      :src="photo.urls.small"
      :alt="photo.alt_description">
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Macy from '../vendors/macy/macy';

export default {
  name: 'Photos',

  computed: {
    ...mapState([
      'photos'
    ]),
  },

  methods: {
    ...mapActions([
      'fetchPhotos'
    ]),
  },

  created() {
    this.fetchPhotos();
  },

  mounted() {
    Macy({
      container: '#gallery-container',
      trueOrder: false,
      waitForImages: true,
      margin: 24,
      columns: 4,
      breakAt: {
        1200: 5,
        940: 3,
        520: 2,
        370: 1,
      },
    });
  },
};
</script>