<template>
  <v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="firstname"
            :rules="nameRules"
            :counter="20"
            label="First name"
            required>
          </v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="lastname"
            :rules="nameRules"
            :counter="20"
            label="Last name"
            required>
          </v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required>
          </v-text-field>
        </v-col>
      </v-row>
      <v-btn class="mr-4" @click="save">save</v-btn>
    </v-container>
  </v-form>
</template>

<script>
import { getAPI } from '../API/API';
import { mapActions } from 'vuex';

export default {
  name: 'UserEdit',

  data: () => ({
    valid: false,
    user: {},
    firstname: '',
    lastname: '',
    nameRules: [
      v => !!v || 'Name is required',
      v => v.length <= 20 || 'Name must be less than 20 characters',
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid',
    ],
  }),

  methods: {
    ...mapActions([
      'editUsers',
    ]),

    async putData(url = '', data = {}) {
      const response = await fetch(url, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      });
      return await response.json();
    },

    save() {
      const id = this.$route.params.id;
      const editedUser = {
        ...this.user,
        first_name: this.firstname,
        last_name: this.lastname,
        email: this.email
      };

      this.putData(`https://reqres.in/api/users/${id}`, editedUser).then((data) => {
        this.editUsers(data);
        this.$router.push('/users');
      });
    }
  },

  created() {
    const id = this.$route.params.id;
    getAPI(`https://reqres.in/api/users/${id}`).then(data => {
      this.user = data.data;
      this.firstname = this.user.first_name;
      this.lastname = this.user.last_name;
      this.email = this.user.email;
    });
  },
};
</script>