<template>
  <div class="users">
    <p>{{ autoriseUser ? autoriseUser.data.first_name : '' }}</p>
    <img
      v-if="autoriseUser"
      :src="autoriseUser.data.avatar"
      :alt="autoriseUser.data.first_name"
      width="60"
      class="rounded-circle">
    <button class="btn btn-primary ml-4" @click="addUser">Add user</button>
    <v-data-table
    :headers="headers"
    :items="getUsers"
    :items-per-page="5"
    @pagination="getPage"
    class="elevation-1" >
      <template v-slot:item.avatar="{ item }">
        <v-avatar class="my-2">
          <img
            :src="item.avatar"
            :alt="item.avatar" />
        </v-avatar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editUser(item)" >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="deleteUser(item.id)" >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex';

export default {
  name: 'Users',

  data() {
    return {
      headers: [
        {text: "First Name", value: "first_name"},
        {text: "Last Name", value: "last_name"},
        {text: "Email", value: "email"},
        {text: "Avatar", value: "avatar", sortable: false},
        {text: "Edit/delete", value: "actions", sortable: false},
      ],
    };
  },

  computed: {
    ...mapGetters([
      'getUsers',
    ]),

    ...mapState([
      'autoriseUser',
    ]),
  },

  methods: {
    ...mapActions([
      'fetchUsers',
      'addUsers',
      'deleteUsers'
    ]),

    getPage(data) {
      this.fetchUsers(data.page);
    },

    async postData(url = '', data = {}) {
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      });
      return await response.json();
    },

    async deleteData(url) {
      return await fetch(url, {
        method: 'DELETE'
      });
    },

    deleteUser(id) {
      this.deleteData(`https://reqres.in/api/users/${id}`);
      this.deleteUsers(id);
    },

    editUser(item) {
      this.$router.push(`/users/edit/${item.id}`);
    },

    addUser() {
      this.postData('https://reqres.in/api/users', {
        "first_name": "Karo",
        "last_name": "Ghulyan",
        "email": "leade@gmail.com",
        avatar: "https://c7.hotpng.com/preview/348/800/890/computer-icons-avatar-user-login-avatar-thumbnail.jpg"
      }).then((data) => {
        this.addUsers(data);
      });
    },
  },

  created() {
    this.fetchUsers(1);
  },
};
</script>