<template>
  <v-app>
    <div id="app" class="container">
      <router-link v-if="autoriseUser" class="mr-2" to="/users">Users</router-link>
      <router-link v-if="autoriseUser" class="mr-2" to="/photos">Photos</router-link>
      <router-link v-if="autoriseUser" class="mr-2" to="/posts">Posts</router-link>
      <button v-if="autoriseUser" class="btn btn-primary mr-2" @click="logout">Log out</button>
      <button v-if="autoriseUser" class="btn btn-primary" @click="settings">Settings</button>
      <router-view />
    </div>
  </v-app>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'App',

  computed: {
    ...mapState([
      'autoriseUser',
    ])
  },

  methods: {
    ...mapActions([
      'insertAutoriseUser',
    ]),

    logout() {
      this.insertAutoriseUser(null)
      this.$router.push('/')
    },

    settings() {
      this.$router.push(`/users/edit/${this.autoriseUser.data.id}`)
    }
  },  
}
</script>

<style lang="scss">
@import "../node_modules/bootstrap/scss/bootstrap";
</style>